*{
  font-family: Helvetica
  }

 body {
    background-color: #dbdbd9;
    margin : 0 auto;
    padding: 0;
 }

header {
    background: url(image/bannière.jpg) 100% fixed;
    height: 50vh;
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    line-height: 2px;

 }

 h1.titre {
    font-size: 50px;
 }

 h3.slogan {
    font-size: 30px;;
 }

 section#Voyage {
   width: 100%;
 }

   ul.Voyage li {
   color:#fdf9f9;
   display: inline-block;
   background-color: #373737;
   padding: 12px;
 }

 div.Voyage-item {
   color: #373737;
   width: 200px;
   height: 250px;
   background-size: cover;
   margin: 10px;
   position: relative;
   flex: 1 0 29%;
   background-repeat: no-repeat;
   border-radius: 5px;
 }

 div.voyage-item img {
   width: 200px;
   
 }

div.voyage-group {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: 0px 20% 0 20%;
}

div.Voyage-item:hover {
      transform: scale(1.1);
      box-shadow: 0 16px 32px 0 rgba(0,0,0,0.6), 0 6px 20px 0 rgba(0,0,0,0,.19,) ; 
      transition: 1,1s all ;
      border-radius: 5px;
}

.Cayo {background : url(image/Cayo.jpg)}
.Chili {background : url(image/chile.jpg)}
.iguazu {background: url(image/iguazu.jpg)}
.Mexique {background: url(image/mexique.jpg)}
.Pérou {background: url(image/peru.jpg)}
.rio {background: url(image/rio.jpg)}

.overlay {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   top: 0;
}




span.nom {
   position: relative;
   color: #ffffff;
   background-color: rgba(128, 128, 128, 0.5);
   padding: 5px 10px;
   border-radius: 5px;
   top: 20px;
   float: right ;
   font-size: 15px;
}

span.prix {
   position: relative;
   color: #ffffff;
   background-color: rgba(128, 128, 128, 0.5);
   padding: 5px 10px;
   border-radius: 5px;
   font-size: 15px;
   top: 150px
}



header form {
   
   
   padding: 20px;
}

.form-group input, select, option{
   border: none;
   padding: 5px;
   background-color: rgba(253, 253, 253, 0.352);
   flex-direction: row;
   margin: 7px;
   border-radius: 5px;
}

.form-group label{
   color:#000000;
   margin: 5px;
   padding: 10px;
   border-radius: 5px;
}

.button-submit input {
   color: #ffffff;
   background-color: rgba(128, 128, 128, 0.5);
   padding: 5px 10px;
   border-radius: 5px;
   font-size: 20px;
   margin-top: 10px;
}
.button-submit{
   text-align: center;

}



.form-group {
   display: flex;
   justify-content: center;
   flex-direction: row;
   
}

.form-submit {
   text-align: center;
}



/* Section Avantages */
#avantages {
   display: flex;
   justify-content: center;
   padding: 50px 0;
   background-color: #dbdbd9;
}

.avantages-container {
   display: flex;
   gap: 20px;
   
}

.avantage-card {
   display: flex;
   align-items: center;
   border: 1px solid #005

}

